<sca-card>
  <span class="text-lg">Padding Oracle Angriffsszenario</span>
  <ul class="list-disc list-inside">
    <li>Blockchiffre mit unbekannten Verschlüsselungsalgorithmus</li>
    <li>Verschlüsselt im <b>CBC‐Modus</b> mit <b>PKCS#7‐Padding</b><br /></li>
    <li>Angreifer*In kann unterscheiden zwischen den Fehlerarten:</li>
    <ul class="ml-6 list-disc list-inside">
      <li><span class="font-mono">bad_padding</span>: Fehlerhaftes Padding</li>
      <li>
        <span class="font-mono">bad_decryption</span>: Padding ist
        <i>korrekt</i>, Klartext ist nicht korrekt
      </li>
    </ul>
    <li>
      Mittels des <i>Fix Padding Button</i
      ><img class="inline" src="assets/fix_padding.svg" /> kann der*die
      Angreifer*In kann für eine Stelle im Block alle möglichen Werte
      ausprobieren bis das Padding korrekt ist.
    </li>
  </ul>

  <sca-toggle class="mt-4" (onChange)="onChange.next($event)"
    >Angreifer*In kann den Klartext und die Zwischenergebnisse sehen</sca-toggle
  >
</sca-card>
