<div class="w-full bg-gray-300 p-3 flex justify-between">
  <span class="text-xl"> {{ title }}</span>
  <div class="flex gap-3">
    <a href="/">Kocher-Angriff</a>
    <a href="/padding">Padding Oracle</a>
    <a href="/dpa">DPA</a>
    <a href="/cpa">CPA</a>
  </div>
</div>
