<sca-card class="w-full"
  ><h1 class="text-xl">
    {{ currentGuessedBits.length }} von {{ keyLength }} Schlüsselbits geraten
  </h1>
  <div class="mb-5">
    <h2></h2>
    <div class="flex flex-row gap-2">
      <div *ngFor="let bit of currentGuessedBits">
        <div
          class="rounded-md p-2"
          [class.bg-green-800]="bit.correct"
          [class.bg-red-800]="!bit.correct"
        >
          <s *ngIf="!bit.correct">
            {{ bit.bit ? 1 : 0 }}
          </s>
          <span *ngIf="bit.correct">
            {{ bit.bit ? 1 : 0 }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-5 justify-between w-full">
    <sca-button (click)="back.next()">Back Trace</sca-button>
    <div class="flex flex-row gap-5">
      <sca-button [disabled]="done" [color]="'primary'" (click)="next.next('1')"
        >Nächstes Bit ist 1</sca-button
      >
      <sca-button [disabled]="done" [color]="'green'" (click)="next.next('0')"
        >Nächstes Bit is 0</sca-button
      >
    </div>
  </div>
</sca-card>
