<div class="mb-4">
  <label class="block text-gray-700 text-sm font-bold mb-2">
    {{ inputName }}
  </label>
  <input
    *ngIf="isNumber"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    type="number"
    [formControl]="formControl"
  />
  <input
    *ngIf="!isNumber"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    type="text"
    [formControl]="formControl"
  />
  <span class="text-red-800" *ngIf="isNumber && ValisNaN">Keine Zahl!</span>
  <span
    class="text-red-800"
    *ngIf="this.controlDirective.hasError('errorMsg')"
    >{{ errorMsg }}</span
  >
</div>
