<sca-card>
  <h2 class="text-xl">Mein schneller und sichere RSA Verschlüsselung</h2>
  Auf Stackoverflow haben wir Code gefunden, wie man RSA berechnen kann. Uns
  wurde versichert, dass das Verfahren absolut sicher ist! RSA basiert auf
  großen Zahlen Multiplikation. Damit das sehr schnell geht, wird hier quare and
  multiply<sup
    ><a
      class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
      href="https://de.wikipedia.org/wiki/Bin%C3%A4re_Exponentiation"
      >[wiki]</a
    ></sup
  >
  verwendet.
  <pre><code [highlight]="binExpCode"></code></pre>
  Huh! Da ist eine <b>Fallunterscheidung</b> und eine
  <b>Multiplikation abhängig von dem Schlüssel!</b><br />
  Multiplikation braucht auf einem CPU nicht immer gleich, sonder ist abhängig
  von der Eingabe! Wir haben den CPU super fast(TM), der bei bestimmten
  Multiplikation <code>mod X</code> einfach länger braucht.
</sca-card>
