<sca-header [title]="'Kocher Angriff'"></sca-header>
<!--sca-kocher-explanation></sca-kocher-explanation-->
<sca-card>
  <h1 class="text-xl">Source Code der RSA Berechnung</h1>
  Die folgende Funktion wird mit dem square'n'multiply Verfahren für das
  Signieren verwendet: Im Kommentar ist angeben, wie die Dauer eines
  Signatur-Vorgangs berechnet werden kann.
  <pre><code [highlight]="code$ | async"></code></pre>
</sca-card>
<sca-card>
  <h2 class="text-xl">Vorgefertigte Einstellungen</h2>
  <div class="flex gap-5 m-2">
    <sca-button class="grow" (click)="easy_mode_good()"
      >Vereinfachtes Modell: einfach anzugreifen</sca-button
    >
    <sca-button class="grow" (click)="easy_mode_bad()"
      >Vereinfachtes Modell: schwierig anzugreifen</sca-button
    >
    <sca-button class="grow" (click)="hammig_mode_good()"
      >Hamming Distanz: einfach anzugreifen</sca-button
    >
    <sca-button class="grow" (click)="hammig_mode_bad()"
      >Hamming Distanz: schwierig anzugreifen</sca-button
    >
  </div>
</sca-card>
<sca-card>
  <h1 class="text-xl">Szenario einstellen</h1>
  Es gibt zwei unterschiedliche Szenarien
  <form [formGroup]="formGroup">
    <ul class="list-disc list-inside">
      <li>
        <b>Hamming Distanz:</b> Die Multiplikation (s * M) dauert so lange wie
        die Hamming Distance zwischen s und M
      </li>
      <li>
        <b>Vereinfachtes Modell:</b> Die Multiplikation (r * r) dauert regulär 1
        Zeiteinheit, außer wenn
        <span class="font-mono"
          >r mod
          <input
            formControlName="mod"
            class="w-10 rounded shadow border border-gray-400 bg-gray-200"
            type="number"
          />
          == 0</span
        >
        dauert es
        <input
          formControlName="tMod"
          class="w-10 rounded shadow border border-gray-400 bg-secondary-200"
          type="number"
        />
        Zeiteinheiten
      </li>
    </ul>
    <sca-button
      *ngIf="(timingMode$ | async) === TimingMode.easy"
      (click)="switchToHamming()"
      class="mt-4"
      >Hamming Distanz verwenden</sca-button
    >
    <sca-button
      *ngIf="(timingMode$ | async) === TimingMode.hammig"
      (click)="switchToEasy()"
      class="mt-4"
      >Vereinfachtes Modell verwenden</sca-button
    >
    <div class="flex gap-5 pt-5">
      <sca-form-text-field
        inputName="Schlüssel verwendet in der Signatur"
        formControlName="key"
        [isNumber]="true"
        class="block grow"
      ></sca-form-text-field>
      <sca-form-text-field
        inputName="Anzahl der Messungen"
        formControlName="numberTraces"
        class="block grow"
        [isNumber]="true"
      ></sca-form-text-field>
    </div>
    <sca-button
      class="w-full"
      [color]="'green'"
      [disabled]="!formGroup.valid"
      (click)="startHack()"
      >Start HACK!</sca-button
    >
  </form>
</sca-card>
<div *ngIf="isAttackRunning$ | async">
  <div class="flex flex-col items-center">
    <sca-card class="w-full my-0">
      <h2>Bucket Graph</h2>
      Abgebildet sind die Restzeiten pro Ausführung. Auf der X-Achse ist die
      Restzeit aufgetragen, auf der Y-Achse wie viele Ausführungen diese
      Restzeit haben.
      <sca-graph
        style="width: 100rem"
        [data]="(graphData$ | async)!"
      ></sca-graph>
    </sca-card>
    <sca-card class="w-full my-0">
      <h3>Varianz</h3>
      <span>Die Varianz wird berechnet wie folgt:</span>
      <span [mathjax]="varainceEquation"></span>
      <sca-variance-graph
        [data]="(graphVarianceData$ | async)!"
        [maxX]="(keyLength$ | async)!"
      ></sca-variance-graph>
    </sca-card>
    <sca-guess-card
      (back)="back()"
      (next)="next($event)"
      [keyLength]="(keyLength$ | async)!"
      [currentGuessedBits]="(currentGuessedBits$ | async)!"
    ></sca-guess-card>
  </div>
  <div *ngIf="finished$ | async">
    <sca-card *ngIf="!(isCorrect$ | async)" [color]="'red'">
      <h1 class="text-xl">Angriff war nicht erfolgreich!</h1>
      <div>Der Schlüssel ist nicht korrekt!<br /></div>
    </sca-card>
    <sca-card *ngIf="isCorrect$ | async" [color]="'green'">
      <h1 class="text-xl">Angriff war erfolgreich! 🎉</h1>
      <div>
        Probiere ein anderes Szenario anzugreifen oder finde heraus, wie sich
        die Varianz verhält, wenn man falsch rät.
      </div>
    </sca-card>
  </div>
</div>
