<sca-card>
  <ng-content select="[header]"></ng-content>
  <div class="overflow-hidden" [@openClose]="isOpen ? 'open' : 'closed'">
    <ng-content></ng-content>
    <div></div>
  </div>
  <div class="flex justify-center">
    <button
      (click)="toggleCard()"
      class="down center btn bg-transparent hover:bg-slate-200 py-2 px-4 border border-slate-200 hover:border-transparent rounded"
    >
      <div *ngIf="isOpen">Schließen</div>
      <div *ngIf="!isOpen">Öffnen</div>
    </button>
  </div>
</sca-card>
