<div class="flex justify-center">
  <div class="w-50 h-50">
    <canvas
      *ngIf="data && config"
      baseChart
      [data]="data!"
      [options]="config!"
      [type]="'bar'"
    >
    </canvas>
  </div>
</div>
