<sca-header [title]="'Padding Oracle'"></sca-header>
<sca-padding-oracle-explanation-card
  (onChange)="hideCleartext$.next($event)"
></sca-padding-oracle-explanation-card>
<sca-card>
  <div>
    Decryption Status:
    <span
      [class.bg-alert-300]="(decryption$ | async)?.status !== 'ok'"
      [class.bg-primary-300]="(decryption$ | async)?.status === 'ok'"
    >
      {{ decrytpionStatusString$ | async }} </span
    ><br />
  </div>
  <form [formGroup]="form" *ngIf="cleartext$ | async">
    <div class="flex flex-row">
      <div class="flex flex-col justify-end items-center">
        <img class="w-full" src="assets/iv.svg" />
        <sca-block-input
          formControlName="IV"
          [validPadding]="(decryption$ | async)?.status !== 'bad_padding'"
        ></sca-block-input>
        <div class="text-xl my-2" [mathjax]="'$iv$'"></div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-xl my-2" [mathjax]="'$p_1$'"></div>
        <div class="flex">
          <sca-block-output
            [cleartext]="(cleartext$ | async)![0]"
            [hideText]="!!(hideCleartext$ | async)"
          ></sca-block-output>
        </div>
        <img class="w-full" src="assets/up.svg" />
        <div class="flex">
          <sca-block-output
            [cleartext]="(xor_intermediate$ | async)![0]"
            [hideText]="!!(hideCleartext$ | async)"
          ></sca-block-output>
        </div>
        <img class="w-full" src="assets/paddingoracle.svg" />
        <div></div>
        <div class="mx-2">
          <sca-block-input
            formControlName="0"
            [validPadding]="(decryption$ | async)?.status !== 'bad_padding'"
          ></sca-block-input>
        </div>
        <div class="text-xl my-2" [mathjax]="'$c_1$'"></div>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-xl my-2" [mathjax]="'$p_1$'"></div>
        <div class="flex">
          <sca-block-output
            [cleartext]="(cleartext$ | async)![1]"
            [paddingStatus]="(paddingStatus$ | async)!"
            [hideText]="!!(hideCleartext$ | async)"
          ></sca-block-output>
        </div>
        <img class="w-full" src="assets/up.svg" />
        <div class="flex">
          <sca-block-output
            [cleartext]="(xor_intermediate$ | async)![1]"
            [hideText]="!!(hideCleartext$ | async)"
          ></sca-block-output>
        </div>
        <img class="w-full" src="assets/last_block.svg" />
        <div></div>
        <div class="mx-2">
          <sca-block-input
            formControlName="1"
            [validPadding]="(decryption$ | async)?.status !== 'bad_padding'"
          ></sca-block-input>
        </div>
        <div class="text-xl my-2" [mathjax]="'$c_2$'"></div>
      </div>
    </div>
  </form>
</sca-card>
