<sca-header [title]="'Correlation Power Analysis'"></sca-header>
<sca-card *ngIf="firstTrace$ | async as trace">
  <div class="mb-4">
    Eine gute Erklärung zu dem CPA-Angriff findet man
    <a
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      href="https://wiki.newae.com/Correlation_Power_Analysis"
      >hier</a
    >
  </div>
  <sca-comparision-trace
    [traces]="traces"
    [lineChartOptions]="preAttacklineChartOptions"
  ></sca-comparision-trace>
  <form class="ml-4 mr-2" [formGroup]="sliderForm">
    <h1>Welches Keybyte soll angegriefen werden?</h1>
    <ngx-slider
      [options]="keyoptions"
      formControlName="keyControl"
    ></ngx-slider>
    <h1>Wie viele Traces sollen verwendet werden?</h1>
    <ngx-slider
      [options]="options"
      formControlName="sliderControl"
    ></ngx-slider>
  </form>
</sca-card>
<sca-card>
  <sca-button
    *ngIf="!(attackRunning | async); else isRunning"
    (click)="doAttack()"
    >Start the Hack!</sca-button
  >
  <ng-template class="center" #isRunning
    >Attack is running</ng-template
  ></sca-card
>
<div *ngIf="bestCorrelation$ | async as correlation">
  <sca-card *ngIf="!(isCorrect$ | async)" [color]="'red'">
    <h1 class="text-xl">Angriff war nicht erfolgreich!</h1>
    <div>Probiere mehr Traces in deinem Angriff zu verwenden.</div>
  </sca-card>
  <sca-card *ngIf="isCorrect$ | async" [color]="'green'">
    <h1 class="text-xl">Angriff war erfolgreich! 🎉</h1>
    <div>
      Probiere ein andere Keybyte zu knacken oder weniger Traces zu verwenden.
    </div>
  </sca-card>
  <sca-card *ngIf="bestCorrelation$ | async as correlation">
    <sca-bar-chart-ranking
      [guesses]="(guesses$ | async)!"
      [config]="barChartConfig"
    ></sca-bar-chart-ranking>
    <sca-comparision-trace
      [lineChartOptions]="postAttacklineChartOptions"
      *ngIf="correlations$ | async as tracesCorr"
      [traces]="tracesCorr"
      #scaCompGraph
    >
    </sca-comparision-trace
  ></sca-card>
</div>
