<div class="flex">
  <p
    class="w-8 h-7 border-gray-900 text-center border-2 font-mono"
    *ngFor="let char of cleartext; let i = index"
    [class.bg-green-600]="
      paddingStatus && paddingStatus[i] == PADDING_STATUS.GOOD_PADDING
    "
    [class.bg-red-600]="
      paddingStatus && paddingStatus[i] == PADDING_STATUS.BAD_PADDING
    "
  >
    <span *ngIf="!hideText">{{ char | hexNumber }}</span>
  </p>
</div>
