<sca-header [title]="'Differntial Power Analysis'"></sca-header>
<!--sca-collapsable-card>
  <h1 header>Variance Graph von Traces bei konstanten Text</h1>
  <sca-key-var-graph></sca-key-var-graph>
</sca-collapsable-card-->
<sca-card>
  <h1 class="text-xl">Differntale Power Analysis</h1>
  Abgebildet sind die Powertraces von einer AES Verschlüsselung. Ziel ist es den
  Schlüssel zu ermitteln. Es wurden 1000 Traces aufgenommen.
</sca-card>
<sca-collapsable-card>
  <sca-comparision-trace
    [lineChartOptions]="lineChartOptions"
    [traces]="traces"
  ></sca-comparision-trace>
  Traceteil
  <form class="ml-10 mr-2" [formGroup]="formGroupSettings">
    <ngx-slider
      [options]="options"
      formControlName="sliderControl"
    ></ngx-slider>
    <span>Anzugreifendes Keybyte</span>
    <ngx-slider
      [options]="optionsBitSelect"
      formControlName="byteIndex"
    ></ngx-slider>
    <span>Anzahl verwendeter Traces</span>
    <ngx-slider
      [options]="optionsTraceUsage"
      formControlName="numberOfTraces"
    ></ngx-slider>
  </form>
</sca-collapsable-card>
<sca-card>
  <sca-button
    (click)="doAttack()"
    [disabled]="(attack.isAttackRunning$ | async) ?? false"
    ><div *ngIf="!(attack.isAttackRunning$ | async); else elseBlock">
      Attack!
    </div></sca-button
  >
  <ng-template #elseBlock
    >Angriff wird durchgeführt: {{ attack.attackProgress$ | async }} /
    255</ng-template
  >
</sca-card>
<div *ngIf="attack.currDiffTraces$ | async">
  <sca-card *ngIf="!(isCorrect$ | async)" [color]="'red'">
    <h1 class="text-xl">Angriff war nicht erfolgreich!</h1>
    <div>
      Das Keybyte ist nicht korrekt!.<br /><i>
        Tip: Der Anfang hat häufig viel rauschen</i
      >
    </div>
  </sca-card>
  <sca-card *ngIf="isCorrect$ | async" [color]="'green'">
    <h1 class="text-xl">Angriff war erfolgreich! 🎉</h1>
    <div>
      Probiere ein andere Keybyte zu knacken oder weniger Traces zu verwenden.
      Auch kannst du versuchen, den Angriff zu beschleunigen, indem du ein
      Teilbereich des Traces selektierst.
    </div>
  </sca-card>
  <sca-card>
    <h1 header>Attack Result:</h1>
    <sca-bar-chart-ranking
      [diffResult]="(attack.currDiffTraces$ | async)!"
    ></sca-bar-chart-ranking>
    <div class="text-green-300" *ngIf="isCorrect$ | async"></div>
    <div class="text-red-300" *ngIf="(isCorrect$ | async) === false"></div>
    <sca-comparision-trace
      [traces]="(this.getDiffTrace$ | async)!"
      [lineChartOptions]="lineChartOptionsDiff"
      #scaCompGraph
    ></sca-comparision-trace>
  </sca-card>
</div>
