<form [formGroup]="formGroup" class="border-2 border-white flex flex-row">
  <div class="w-8" *ngFor="let i of controlKeys">
    <div>
      <input
        [formControlName]="i"
        class="w-8 bg-slate-800 border-l-slate-100 text-center border-spacing-1 border text-white font-mono"
        maxlength="2"
        [class.bg-slate-800]="!formGroup.get(i)!.errors"
        [class.bg-red-800]="formGroup.get(i)!.errors"
      />
      <button (click)="fixPadding(i)" class="w-full flex justify-center">
        <img class="center" src="assets/fix_padding.svg" />
      </button>
    </div>
  </div>
</form>
